* {
  /* transition: all .3s; */

  --main-color-dark: #333;
  --main-color-light: white;

  /* --main-color-blue: #1278a1; */
  /* --main-color-blue: #3ab7ea; */
  --main-color-blue: #00a0d0;
  --main-color-blue-focus: #0080b0;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 92vh;
  margin-top: 8vh;
  /* background-color: #555; */
  background-color: #262626;
}

body, h2, h3 {
  margin: 0;
  /* font-family: "Playfair Display", serif;
  font-weight: lighter; */
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
}

/*Navbar*/
#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  background-color: #333;
  background-color: var(--main-color-dark, #333);
  box-shadow: 0px 1px 4px rgba(0,0,0,.5);
}

#navbar a {
  text-decoration: none;
}

#navbarContainer {
  display: flex;
  height: 8vh;
  width: 90%;
  margin-left: 5%;
}

#navbarName {
  width: fit-content;
  height: 8vh;
  line-height: 4vh;
  margin: 2vh 0;
  padding: 0 2vh;
  font-size: 3.5vh;
  color: white;
  color: var(--main-color-light, white);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
}

#navbarName.desktop {
  display: inline-block;
}
#navbarName.mobile {
  display: none;
}

#navbarButtonsDiv {
  position: fixed;
  top: 0;
  right: 5%;
  width: fit-content;
  height: 8vh;
  margin: 0;
  padding: 0 2vh;
  display: inline-block;
}

.navbarButton {
  width: fit-content;
  height: 4vh;
  line-height: 4vh;
  margin: 1vh 0;
  padding: 1vh 2vh;
  font-size: 2vh;
  color: white;
  color: var(--main-color-light, white);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat";
}

#mobileNavbarMenu {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 5vh;
  margin: 1.5vh;
  padding: 1vh 1.5vh;
  background-color: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

#homeIcon {
  color: white;
  font-size: 3.3vh;
}


/*Lightbox*/
#lightbox {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .75);
}

#lightbox > img {
  max-width: 90vw;
  max-height: 90vh;
}

#lightbox > h1 {
  position: fixed;
  margin: 0;
  top: 2vh;
  right: 1vh;
  font-size: max(3.3vh, 3.3vw);
  color: white;
  cursor: pointer;
}


/*Body and sections*/
#bodyContainer {
  width: 100vw;
  height: 92vh;
  text-align: center;
  /* overflow: hidden; */
}

#photoAlbums {
  max-width: calc((250 + 5 * 2 + 15 * 2) * 4px);
  border: 2vw solid transparent;
  margin: auto;
  /* margin: 2vw;
  margin-top: calc(8vh + 2vw); */
  border-width: 0 2vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#photoAlbums > div {
  width: 250px;
  padding: 5px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#photoAlbums > div > div,
#photoAlbums > div > div > div {
  width: 250px;
  height: 250px;
  /* background-size: cover;
  background-position: center; */
}

#photoAlbums > div > h2 {
  color: white;
}
#photoAlbums > div > h2:nth-of-type(1) {
  margin-top: .75em;
  font-size: 1.1em;
}
#photoAlbums > div > h2:nth-of-type(2) {
  margin-top: .5em;
  font-size: .75em;
}

#photoCollage {
  height: 96vw;
  width: 96vw;
  margin: 2vw;
  margin-top: calc(8vh + 2vw);
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 1vw;
}
#photoCollage.mobile {
  grid-gap: 2vw;
  display: none;
}

#photoCollage > div,
#photoAlbums > div > div {
  overflow: hidden;
  cursor: pointer;
}
#photoCollage > div > div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
#photoCollage > div > div:hover,
#photoAlbums > div > div > div > img:hover {
/* #photoAlbums > div > div > div:hover { */
  transform: scale(1.05);
}
#photoCollage > div > div:hover::before,
#photoAlbums > div > div > div > img:hover::before {
/* #photoAlbums > div > div > div:hover::before { */
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.25);
}

#photoCollage ul {
  display: flex;
  flex-wrap: wrap;
  margin: .5vmin;
  padding: 0;
}

#photoCollege ul:after {
  content: '';
  display: block;
  flex-grow: 10;
}

#photoCollage li {
  height: 40vh;
  flex-grow: 1;
  margin: .5vmin;
}

#photoCollage img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}
  
/* Short screens */
@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}
  
/* Smaller screens in portrait */
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }
  
  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}


/*Footer*/
#footerDiv {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 6vh 0;
  color: white;
  color: var(--main-color-light, white);
  background-color: #333;
  background-color: var(--main-color-dark, #333);
}

.innerFooterDiv {
  width: 49%;
  text-align: center;
}

.footerText {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

.footerInfoTitle, .footerInfo {
  font-size: 1.05em;
  margin: 0;
  margin-bottom: .5em;
  display: inline-block;
}

.footerInfoTitle:nth-last-child(1), .footerInfo:nth-last-child(1) {
  margin-bottom: 0;
}

.footerInfo a {
  color: white;
  color: var(--main-color-light, white);
}

.footerInfo a:hover {
  color: #00a0d0;
  color: var(--main-color-blue, #00a0d0);
}

.footerInfo.document:nth-last-child(1) {
  margin-left: 5vh;
}

.footerIconDiv {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 12px;
  margin: 0 1.5%;
  border: 2px solid white;
  border: 2px solid var(--main-color-light, white);
  border-radius: 50%;
  cursor: pointer;
  background-color: #333;
  background-color: var(--main-color-dark, #333);
}

.fa.footerIcon {
  font-size: 20px;
  color: white;
  color: var(--main-color-light, white);
}

.footerIconDiv:hover, .footerIconDiv:focus {
  background-color: white;
  background-color: var(--main-color-light, white);
}

.footerIconDiv:hover .fa.footerIcon, .footerIconDiv:focus .fa.footerIcon {
  color: #00a0d0;
  color: var(--main-color-blue, #00a0d0);
}

#footerMadeByText {
  position: absolute;
  font-size: 9px;
  right: 5px;
  bottom: 5px;
  margin: 0;
}



/*Take away margin-left from navbar on smaller screen*/
@media only screen and (min-width: 0px) and (max-width: 1100px) {
/* @media only screen and (min-width: 0px) and (max-width: 991px) { */
  #navbarContainer {
    width: 98%;
    margin-left: .5%;
  }

  #navbarButtonsDiv {
    right: .5%;
  }

  .navbarButton {
    padding: 1vh 1.5vh;
  }
}

/*Make everything scrolled on smaller screens, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Portrait*/
@media only screen and (min-width: 0px) and (max-width: 825px) and (orientation: portrait) {
  #navbarName {
    font-size: 3vh;
  }
  
  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbarMenu {
    display: block;
  }

  #photoCollage:not(.mobile) {
    display: none;
  }

  #photoCollage.mobile {
    display: grid;
  }

  .footerText {
    font-size: 1em;
  }

  .footerInfoTitle, .footerInfo {
    font-size: .9em;
  }

  .footerIconDiv {
    width: 18px;
    height: 18px;
  }
  .fa.footerIcon {
    font-size: 18px;
  }

  .footerInfo.document {
    display: inline-block;
  }

  .footerInfo.document:nth-last-child(1) {
    margin-left: 2vh;
  }
}

/*Make everything scrolled on mobile, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Portrait*/
@media only screen and (min-width: 0px) and (max-width: 450px) {
  #navbarContainer {
    width: 98%;
    margin-left: .5%;
  }

  #navbar, #navbarContainer {
    height: 10vh;
  }
  
  #navbarName, .navbarButton {
    line-height: 6vh;
    height: 6vh;
  }

  #navbarName.desktop {
    display: none;
  }
  #navbarName.mobile {
    display: inline-block;
  }

  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbarMenu {
    display: block;
    height: 6vh;
    margin: 2vh;
  }

  .footerInfoTitle, .footerInfo {
    display: block;
  }

  .footerInfo {
    font-size: .85em;
    margin-bottom: 0;
  }

  .footerIconDiv {
    width: 16px;
    height: 16px;
    padding: 10px 12px 14px 12px;
  }
  .fa.footerIcon {
    font-size: 16px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {
  #navbarName {
    font-size: 2.66vh;
  }
}

/*Make everything scrolled on mobile, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Landscape*/
@media only screen and (min-height: 0px) and (max-height: 450px) and (min-width: 0px) and (max-width: 825px) and (orientation: landscape) {
  #navbar, #navbarContainer {
    height: 14vh;
  }

  #navbarContainer {
    width: 98%;
    margin-left: 2vh;
  }
  
  #navbarName, .navbarButton {
    line-height: 10vh;
    height: 10vh;
  }

  #navbarName {
    font-size: 4.4vh;
  }

  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbarMenu {
    display: block;
    height: 9vh;
    margin: 2.5vh;
    padding: 1vh 2.5vh;
  }

  .footerInfo {
    font-size: .9em;
    margin-bottom: 0;
  }
}