* {
  /* transition: all .3s; */

  --main-color-dark: #333;
  --main-color-darker: #212223;
  --main-color-light: white;

  /* --main-color-blue: #1278a1; */
  /* --main-color-blue: #3ab7ea; */
  --main-color-blue: #00a0d0;
  --main-color-blue-focus: #0080b0;
  --main-color-blue-dark: #005775;
}

html {
  overflow-x: hidden;
  background-color: var(--main-color-light);
}

body {
  background-color: var(--main-color-light);
}

body, h2, h3 {
  margin: 0;
  /* font-family: "Playfair Display", serif;
  font-weight: lighter; */
  font-family: "Gotham - Font";
  font-style: normal;
  font-weight: 400;
}

/*Navbar*/
#navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: 0px 1px 4px rgba(0,0,0,.5);
}

#navbar a {
  text-decoration: none;
}

#navbarContainer {
  display: flex;
  height: 8vh;
  width: 90%;
  margin-left: 5%;
}

/* #navbarImage {
  display: inline-block;
  margin: 1.25vh 0vh 1.25vh 1vh;
  height: 5.5vh;
  width: 5.5vh;
  border-radius: 50%;
  background: url("Kieran_McWilliams_K.png");
  background-size: cover;
} */

#navbarName {
  width: fit-content;
  height: 8vh;
  line-height: 4vh;
  margin: 2vh 0;
  padding: 0 2vh;
  font-size: 3.5vh;
  color: var(--main-color-light);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat - Font";
}

#navbarButtonsDiv {
  position: fixed;
  top: 0;
  right: 5%;
  width: fit-content;
  height: 8vh;
  margin: 0;
  padding: 0 2vh;
  display: inline-block;
}

.navbarButton {
  width: fit-content;
  height: 4vh;
  line-height: 4vh;
  margin: 1vh 0;
  padding: 1vh 2vh;
  font-size: 2vh;
  color: var(--main-color-light);
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat - Font";
}

.navbarButton.icon {
  font-size: 2.25vh;
}

.navbarButton.active, .navbarButtonMobileDiv.active {
  background-color: var(--main-color-blue);
}

.navbarButton.active:hover, .navbarButtonMobileDiv.active:hover > .navbarButtonMobile {
  color: var(--main-color-light);
}

#mobileNavbarMenu {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 5vh;
  margin: 1.5vh;
  padding: 1vh 1.5vh;
  color: var(--main-color-light);
  font-family: "Montserrat - Font";
  background-color: transparent;
  border: 1px solid var(--main-color-light);
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
}

#mobileNavbarMenu:hover, #mobileNavbarMenu:focus {
  background-color: var(--main-color-blue);
  border-color: var(--main-color-blue);
}


/* Mobile Navbar */
#mobileNavbar {
  position: fixed;
  display: none;
  z-index: 100;
  top: 8vh;
  height: 0px;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  background-color: var(--main-color-dark);
  border: 0;
}

#mobileNavbar.open {
  border-top: 1px solid var(--main-color-light);
  padding: 1vh 0;
}

.navbarButtonMobileDiv {
  padding: 1.5vh 0;
}

.navbarButtonMobile {
  font-size: 1em;
  color: var(--main-color-light);
  padding: 1.5vh 2vh;
  cursor: pointer;
  text-decoration: none;
  font-family: "Montserrat - Font";
}

.navbarButtonMobile.icon {
  margin-left: .1em;
}

#navbarName:hover, .navbarButton:hover, .navbarButtonMobileDiv:hover > .navbarButtonMobile:not(.icon), .navbarButtonMobile.icon:hover {
  color: var(--main-color-blue);
}


/*Navbar jumps and scrolls*/
.navbarJump {
  position: relative;
  height: 0;
  width: 0;
  margin: 0;
  top: -14vh;
}

#navbar.scrolled {
  background-color: var(--main-color-dark);
}


/*Body and sections*/
#bodyContainer {
  width: 100vw;
  height: 92%;
  margin-top: 8vh;
  text-align: center;
  overflow: hidden;
}

.containerDiv:nth-child(odd) {
  padding: 6vh 0;
  color: var(--main-color-light);
  background-color: var(--main-color-light);
}

.containerDiv:nth-child(odd):not(#profileDivBackground):not(#footerDiv):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewY(-2.5deg);
  background-color: var(--main-color-blue);
}

/* Every other odd */
.containerDiv:nth-child(4n + 1):not(#profileDivBackground):not(#footerDiv):before {
  transform: skewY(2.5deg);
}

.containerDiv:nth-child(odd):not(#profileDivBackground):not(#footerDiv) > div {
  position: relative;
}

.containerDiv:nth-child(even) {
  padding: 6vh 0;
  color: var(--main-color-dark);
  background-color: var(--main-color-light);
}

.containerDivHeader {
  font-size: 2.5em;
  width: fit-content;
  display: table;
  margin: auto;
}

.containerDiv:nth-child(odd) .containerDivHeader::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 4px;
  background-color: var(--main-color-light);
}

.containerDiv:nth-child(even) .containerDivHeader::after {
  content: "";
  display: block;
  height: 4px;
  margin-top: 4px;
  background-color: var(--main-color-dark);
}

#profileDivBackground {
  padding: 0;
  height: 80vh;
  margin-top: -6vh;
  background: none;
}

#profileDivBackground::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: -5vh;
  z-index: 10;
  background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 66% center no-repeat;
  background-size: cover;
  filter: brightness(.45);
}

#profileDiv {
  position: absolute;
  z-index: 30;
  display: block;
  width: 100%;
  height: 100%;
  padding: 15vh 0;
}

/* #profileDiv::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5%;
  left: 0;
  bottom: 0;
  z-index: 30;
  background: linear-gradient(transparent, black);
  transform: translate(0, -850%) skewY(-10deg);
  transform: translate(0, -56vh) skewY(-10deg);
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, .2);
} */

/* #profileDiv::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 33%;
  left: 0;
  z-index: 20;
  background: var(--main-color-light);
  transform: translate(0, 79.5%) skewY(-10deg);
} */

#resumePictureContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: auto;
  height: 253px;
  width: 175px;
  /* border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(.125em);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25); */

  position: absolute;
  margin-right: 325px;
  right: 50%;
  margin-top: calc((292px - 254px) / 2);
  transform: translate(50%);
}

/* #resumePictureContainer::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: url("file_solid_final.png") center center no-repeat;
  background-size: contain; */
  /* filter: opacity(25%); */
  /* backdrop-filter: blur(.125em); */
  /* filter: brightness(.45);
} */

/* #resumePictureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 253px;
  width: 175px; */
  /* background-color: rgba(0, 0, 0, .25); */
  /* background: url("file_solid_final.png") center center no-repeat;
  background-size: contain;
  filter: opacity(25%); */
  /* backdrop-filter: blur(.125em); */
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
} */

#resumePictureHeader {
  margin: 1.5vh;
}

/* #resumePicture {
  margin: 0 1vh 1vh 1vh;
  height: 206px;
  width: 160px;
  border-radius: 3px;
  background: url(Kieran_Resume_Optimized.png) center center no-repeat;
  background-size: cover;
} */

#profilePictureNameEmailResumeContainer {
  display: flex;
  flex-direction: row;
  margin: 0 8vw;
}

#profilePictureContainer {
  display: flex;
  align-items: center;
  margin: auto;
  height: 292px;
  width: 292px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .25);
  backdrop-filter: blur(.125em);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .25);

  position: absolute;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
}

#profilePicture {
  display: block;
  margin: auto;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background: url("https://storage.googleapis.com/mcwilliamsphoto/Kieran_McWilliams_2021_Square_Transparent_Optimized.png") center center no-repeat;
  background-size: cover;
}

#nameEmailResumeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-left: 3vw;
  padding-top: 3vh;
  text-align: left;

  position: absolute;
  margin-left: 325px;
  left: 50%;
  height: 292px;
  padding: 0;
  transform: translate(-50%);
}

#nameHeader {
  color: var(--main-color-light);
  margin-top: .15em;
  margin-bottom: .3em;
  font-size: 3em;
}

#myResume {
  display: none;
}

#email, #myResume, #resumePictureHeader > a {
  color: var(--main-color-light);
  margin-left: .175em;
  font-size: 1em;
  text-decoration: none;
  margin-bottom: 1vh;
}

#email:hover, #myResume:hover, #resumePictureHeader > a:hover {
  text-decoration: underline;
}

#profileDivMadeByText {
  z-index: 500;
  position: absolute;
  transform: rotate(-10deg) translate(0, -2vh);
  color: white;
  left: 2vh;
  font-size: 12px;
}


/*About, Experience, Projects, Skills, Interests*/
#innerExperienceProjectsDiv, #innerSkillsDiv, #innerInterestsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4vh;
}

.proficiencyDiv, .eachInterestDiv {
  width: 49%;
  text-align: center;
  transition: none;
}

.eachInterestDiv:nth-child(-n+4) {
  margin-bottom: 4vh;
}

.experienceHeader, .projectHeader, .proficiencyHeader, .interestHeader {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.7em;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.experienceText, .projectText, .proficiencyText, .interestText {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Montserrat - Font";
}


#tiltedAboutDivBackground {
  z-index: 30;
  position: absolute;
  /* overflow: hidden; */
  width: 100%;
  height: 50vh;
  padding: 0;
  background: var(--main-color-light);
  transform: translateY(-8vh) skewY(-10deg);
  /* box-shadow: inset 0 20px 10px -10px rgba(0, 0, 0, .2); */
}

#tiltedAboutDivBackground::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5vh;
  left: 0;
  bottom: 0;
  z-index: 30;
  background: linear-gradient(transparent, rgb(0, 0, 0, .75));
  transform: translate(0, -50vh);
  box-shadow: 0 10px 10px 0px rgb(0, 0, 0, .33);
}

#aboutDiv {
  z-index: 40;
  padding: 0 0 6vh 0;
  position: relative;
  background: transparent;
}

#aboutText {
  width: 65%;
  margin: auto;
  margin-top: 4vh;
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Montserrat - Font";
}

#experienceDiv {
  position: relative;
  z-index: 50;
}

.innerExperienceProjectsDiv {
  padding: 3vh 8vw;
  text-align: left;
}

#experienceDiv .innerExperienceProjectsDiv:nth-last-child(1),
#projectsDiv .innerExperienceProjectsDiv:nth-last-child(1) {
  padding-bottom: 0;
}

.entryTitle {
  margin: 0;
  font-size: 1.65em;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.entryYears {
  margin: .75em 0 .5em 0;
  font-size: 1.15em;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.entryInfo {
  margin: 0;
  font-family: "Montserrat - Font";
  font-size: .95em;
  line-height: 2em;
}

.entryHref {
  color: var(--main-color-light);
}

.projectMobileAppsDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .75em;
}

.projectButtonHref {
  color: var(--main-color-light);
  text-decoration: none;
}

.projectButton {
  font-size: 1.2em;
  padding: .75em 1em;
  border: 0;
  border-radius: 5px;
  color: var(--main-color-light);
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  cursor: pointer;
  background-color: var(--main-color-blue);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
  transform: scale(1);
}

.projectButton:hover, .projectButton:focus {
  background-color: var(--main-color-blue-focus);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, .5);
  transform: scale(1.05);
}

#googlePlayBadge {
  height: 4.5rem;
  margin-bottom: -.8rem;
  margin-top: -.2rem;
}

#appleAppStoreBadge {
  height: 3.05rem;
  width: 10.2rem;
  background: url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;
  background-size: contain;
}

#googlePlayBadge:hover, #googlePlayBadge:focus, #appleAppStoreBadge:hover, #appleAppStoreBadge:focus {
  transform: scale(1.05);
}

#skillsDiv {
  position: relative;
}

.interestText a {
  color: var(--main-color-blue);
}



/*Footer*/
#footerDiv {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 6vh 0;
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
}

.innerFooterDiv {
  width: 49%;
  text-align: center;
}

.footerText {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 1em;
}

.footerInfoTitle, .footerInfo {
  font-size: 1.05em;
  margin: 0;
  margin-bottom: .5em;
  display: inline-block;
}

.footerInfoTitle:nth-last-child(1), .footerInfo:nth-last-child(1) {
  margin-bottom: 0;
}

.footerInfo a {
  color: var(--main-color-light);
}

.footerInfo a:hover {
  color: var(--main-color-blue);
}

.footerInfo.document:nth-last-child(1) {
  margin-left: 5vh;
}

.footerIconDiv {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 12px;
  margin: 0 1.5%;
  border: 2px solid var(--main-color-light);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-color-dark);
}

.fa.footerIcon {
  font-size: 20px;
  color: var(--main-color-light);
}

.footerIconDiv:hover, .footerIconDiv:focus {
  color: var(--main-color-light);
}

.footerIconDiv:hover .fa.footerIcon, .footerIconDiv:focus .fa.footerIcon {
  color: var(--main-color-blue);
}

#footerMadeByText {
  position: absolute;
  font-size: 9px;
  right: 5px;
  bottom: 5px;
  margin: 0;
}



/*Take away margin-left from navbar on smaller screen*/
@media only screen and (min-width: 0px) and (max-width: 1100px) {
/* @media only screen and (min-width: 0px) and (max-width: 991px) { */
  #navbarContainer {
    width: 98%;
    margin-left: .5%;
  }

  #navbarButtonsDiv {
    right: .5%;
  }

  .navbarButton {
    padding: 1vh 1.5vh;
  }

  /* #profileDiv::before {
    transform: translate(0, -870%) skewY(-10deg);
    transform: translate(0, -56.5vh) skewY(-10deg);
  } */

  #resumePictureContainer {
    /* transform: translate(50%) scale(.9); */
    width: 157.5px;
    margin-right: 280px;
    margin-top: calc((260px - 225.5px) / 2 + 10px);
  }

  #resumePicture {
    height: 185.4px;
    width: 144px;
  }

  #profilePictureContainer {
    /* transform: translate(-50%) scale(.9); */
    height: 263px;
    width: 263px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 252px;
    width: 252px;
  }

  #nameEmailResumeContainer {
    /* transform: translate(-50%) scale(.9); */
    height: 263px;
    margin-left: 280px;
    margin-top: 10px;
  }

  #nameHeader {
    font-size: 2.7em;
  }
  
  #email, #myResume, #resumePictureHeader > a {
    font-size: .9em;
  }

  #aboutText {
    width: 85%
  }
}

@media only screen and (min-width: 0px) and (max-width: 888px) {
  #resumePictureContainer {
    /* transform: translate(50%) scale(.75); */
    width: 131px;
    margin-right: 233px;
    margin-top: calc((260px - 225.5px) / 2 + 10px);
  }

  #resumePicture {
    height: 154.5px;
    width: 120px;
  }

  #profilePictureContainer {
    /* transform: translate(-50%) scale(.75); */
    height: 219px;
    width: 219px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 210px;
    width: 210px;
  }

  #nameEmailResumeContainer {
    /* transform: translate(-50%) scale(.75); */
    height: 219px;
    margin-left: 233px;
    margin-top: 10px;
  }

  #nameHeader {
    font-size: 2.25em;
  }
  
  #email, #myResume, #resumePictureHeader > a {
    font-size: .8em;
  }
}

/*Make everything scrolled on smaller screens, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Portrait*/
@media only screen and (min-width: 0px) and (max-width: 825px) and (orientation: portrait) {
  #navbarName {
    font-size: 3vh;
  }
  
  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbar, #mobileNavbarMenu {
    display: block;
  }

  #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 80% center no-repeat;
    height: 105%;
    background-size: cover;
  }

  /* #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Mobile_Optimized.jpg") 80% center no-repeat;
    height: 105%;
    background-size: cover;
    filter: none;
  }

  #profileDiv::before, #tiltedAboutDivBackground {
    display: none;
  } */

  /* #profileDiv::before {
    transform: translate(0, -1000%) skewY(-10deg);
    transform: translate(0, -65vh) skewY(-10deg);
  } */

  #tiltedAboutDivBackground {
    transform: translateY(-17vh) skewY(-10deg);
  }

  #resumePictureContainer {
    display: none;
  }

  #myResume {
    display: unset;
  }

  #profilePictureContainer {
    left: 33%;
    /* transform: translate(-50%) scale(.75); */
    height: 219px;
    width: 219px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 210px;
    width: 210px;
  }

  #nameEmailResumeContainer {
    left: 33%;
    /* transform: translate(-50%) scale(.75); */
    height: 219px;
    margin-left: 233px;
    margin-top: 20px;
  }

  #nameHeader {
    font-size: 2.25em;
  }
  
  #email, #myResume, #resumePictureHeader > a {
    font-size: .8em;
  }

  #profileDivBackground::before, #aboutDiv {
    margin-top: -6vh;
  }

  #innerExperienceProjectsDiv, #innerSkillsDiv, #innerInterestsDiv {
    display: block;
  }
  
  .proficiencyDiv, .eachInterestDiv {
    width: 100%;
    margin-bottom: 4vh;
  }

  .eachInterestDiv:nth-last-child(1) {
    margin-bottom: 0;
  }

  .experienceHeader, .projectHeader, .proficiencyHeader, .interestHeader {
    margin-bottom: .5em;
  }

  .experienceText, .projectText, .proficiencyText, .interestText {
    width: 95%;
  }

  .projectMobileAppsDiv {
    justify-content: center;
  }

  .footerText {
    font-size: 1em;
  }

  .footerInfoTitle, .footerInfo {
    font-size: .9em;
  }

  .footerIconDiv {
    width: 18px;
    height: 18px;
  }
  .fa.footerIcon {
    font-size: 18px;
  }

  .footerInfo.document {
    display: inline-block;
  }

  .footerInfo.document:nth-last-child(1) {
    margin-left: 2vh;
  }
}

@media only screen and (min-width: 0px) and (max-width: 555px) and (orientation: portrait) {
  /* #profileDiv::before {
    transform: translate(0, -890%) skewY(-10deg);
  } */

  #profilePictureContainer {
    left: 30%;
    /* transform: translate(-50%) scale(.66); */
    height: 193px;
    width: 193px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 185px;
    width: 185px;
  }
  
  #nameEmailResumeContainer {
    left: 30%;
    /* transform: translate(-50%) scale(.66); */
    height: 193px;
    margin-left: 215px;
    margin-top: 20px;
  }

  #nameHeader {
    font-size: 2em;
  }
}

/*Make everything scrolled on mobile, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Portrait*/
@media only screen and (min-width: 0px) and (max-width: 450px) {
  #navbarContainer {
    width: 98%;
    margin-left: .5%;
  }

  #navbar, #navbarContainer {
    height: 10vh;
  }

  #navbarImage {
    display: none;
  }
  
  #navbarName, .navbarButton {
    line-height: 6vh;
    height: 6vh;
  }

  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbarMenu {
    display: block;
    height: 6vh;
    margin: 2vh;
  }

  #mobileNavbar {
    display: block;
    top: 10vh;
  }

  .navbarButtonMobile {
    font-size: 1em;
  }

  .navbarButtonMobile.icon {
    padding: 1.5vh 1vh;
  }
  .navbarButtonMobile.icon:nth-child(1) {
    padding: 1.5vh 1vh 1.5vh 2.25vh;
  }

  #bodyContainer {
    margin-top: 10vh;
  }

  .containerDiv:nth-child(odd) {
    padding: 4vh 0;
  }
  
  .containerDiv:nth-child(even) {
    padding: 4vh 0;
  }

  .containerDivHeader {
    font-size: 2.2em;
  }

  #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 74% center no-repeat;
    height: 105%;
    background-size: cover;
  }

  /* #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Mobile_Optimized.jpg") 74% center no-repeat;
    height: 105%;
    background-size: cover;
  } */

  #profilePictureContainer {
    /* transform: translate(-50%) scale(.6); */
    height: 175px;
    width: 175px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 168px;
    width: 168px;
  }

  #nameEmailResumeContainer {
    /* transform: translate(-50%) scale(.6); */
    height: 175px;
    margin-left: 180px;
    margin-top: 20px;
  }

  #nameHeader {
    font-size: 1.8em;
  }

  #aboutDiv {
    margin-top: -10vh;
  }

  #aboutText {
    width: 90%;
    margin-top: 2vh;
    font-size: 1.1em;
  }

  .experienceHeader, .projectHeader, .proficiencyHeader, .interestHeader {
    font-size: 1.5em;
    margin-bottom: .5em;
  }

  .footerInfoTitle, .footerInfo {
    display: block;
  }

  .footerInfo {
    font-size: .85em;
    margin-bottom: 0;
  }

  .footerIconDiv {
    width: 16px;
    height: 16px;
    padding: 10px 12px 14px 12px;
  }
  .fa.footerIcon {
    font-size: 16px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 400px) and (orientation: portrait) {
  #navbarName {
    font-size: 2.66vh;
  }

  #profilePictureContainer {
    /* transform: translate(-50%) scale(.55); */
    height: 161px;
    width: 161px;
    margin-top: 10px;
  }

  #profilePicture {
    height: 154px;
    width: 154px;
  }

  #nameEmailResumeContainer {
    /* transform: translate(-50%) scale(.55); */
    height: 161px;
    margin-left: 160px;
    margin-top: 20px;
  }

  #nameHeader {
    font-size: 1.65em;
  }
  
  #email, #myResume {
    font-size: .75em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 350px) and (orientation: portrait) {
  #profilePictureContainer {
    left: 27.5%;
  }

  #nameEmailResumeContainer {
    left: 26%;
  }

  #nameHeader {
    font-size: 1.5em;
  }

  #email, #myResume {
    font-size: .7em;
  }
}

/*Make everything scrolled on mobile, make innerDivs 100% width, hide navbar and show mobile navbar*/
/*Landscape*/
@media only screen and (min-height: 0px) and (max-height: 450px) and (min-width: 0px) and (max-width: 825px) and (orientation: landscape) {
  #navbar, #navbarContainer {
    height: 14vh;
  }

  #navbarContainer {
    width: 98%;
    margin-left: 2vh;
  }

  #navbarImage {
    height: 10vh;
    width: 10vh;
    margin: 2vh 0vh;
  }
  
  #navbarName, .navbarButton {
    line-height: 10vh;
    height: 10vh;
  }

  #navbarName {
    font-size: 4.4vh;
  }

  #navbarButtonsDiv {
    display: none;
  }

  #mobileNavbarMenu {
    display: block;
    height: 9vh;
    margin: 2.5vh;
    padding: 1vh 2.5vh;
  }

  #mobileNavbar {
    display: block;
    top: 14vh;
  }

  .navbarButtonMobile, .navbarButtonMobile.icon {
    font-size: .9em;
    margin-left: 2vh;
  }

  #bodyContainer {
    margin-top: 14vh;
  }

  .containerDiv:nth-child(odd) {
    padding: 6vh 0;
  }
  
  .containerDiv:nth-child(even) {
    padding: 6vh 0;
  }

  .containerDivHeader {
    font-size: 2.2em;
  }

  #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 80% 80% no-repeat;
    height: 110%;
    background-size: cover;
  }

  /* #profileDivBackground::before {
    background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Mobile_Optimized.jpg") 80% 80% no-repeat;
    height: 110%;
    background-size: cover;
    filter: none;
  }

  #profileDiv::before, #tiltedAboutDivBackground {
    display: none;
  } */

  #resumePictureContainer {
    display: none;
  }

  #myResume {
    display: unset;
  }

  #profilePictureContainer {
    left: 47%;
    height: 193px;
    width: 193px;
    margin-top: -10px;
  }

  #profilePicture {
    height: 185px;
    width: 185px;
  }

  #nameEmailResumeContainer {
    left: 47%;
    height: 193px;
    margin-left: 215px;
    margin-top: -10px;
  }

  #nameHeader {
    font-size: 2em;
  }
  
  #email, #myResume {
    font-size: .8em;
    margin-bottom: 2vh;
  }

  #aboutText {
    width: 90%;
    margin-top: 2vh;
    font-size: 1.1em;
  }

  .experienceHeader, .projectHeader, .proficiencyHeader, .interestHeader {
    font-size: 1.333em;
    margin-bottom: .5em;
  }

  .experienceText, .projectText, .proficiencyText, .interestText {
    width: 95%;
  }

  .footerInfo {
    font-size: .9em;
    margin-bottom: 0;
  }
}

@media only screen and (min-height: 0px) and (max-height: 450px) and (min-width: 0px) and (max-width: 650px) and (orientation: landscape) {
  #profilePictureContainer {
    height: 175px;
    width: 175px;
  }

  #profilePicture {
    height: 168px;
    width: 168px;
  }

  #nameEmailResumeContainer {
    height: 175px;
    margin-left: 182px;
  }

  #nameHeader {
    font-size: 1.8em;
  }
}


@media only screen and (prefers-color-scheme: dark) {
  html, body {
    background-color: var(--main-color-darker);
  }


  .navbarButton.active, .navbarButtonMobileDiv.active {
    background-color: var(--main-color-blue-dark);
  }


  .containerDiv:nth-child(odd) {
    color: var(--main-color-light);
    background-color: var(--main-color-darker);
  }
  
  .containerDiv:nth-child(odd):not(#profileDivBackground):not(#footerDiv):before {
    background-color: var(--main-color-blue-dark);
  }
  
  .containerDiv:nth-child(even) {
    color: var(--main-color-light);
    background-color: var(--main-color-darker);
  }

  .containerDiv:nth-child(odd) .containerDivHeader::after {
    background-color: var(--main-color-light);
  }
  
  .containerDiv:nth-child(even) .containerDivHeader::after {
    background-color: var(--main-color-light);
  }


  #tiltedAboutDivBackground {
    background-color: var(--main-color-darker);
  }


  .projectButton {
    background-color: var(--main-color-blue-dark);
  }
}