@use "mixins";


#bodyContainer {
  #profileDivBackground {
    padding: 0;
    height: 80vh;
    margin-top: -6vh;
    background: none;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: -5vh;
      z-index: 10;
      background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 66% center no-repeat;
      background-size: cover;
      filter: brightness(.45);

      @include m825portrait {
        margin-top: -6vh;
        background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 80% center no-repeat;
        height: 105%;
        background-size: cover;
      }
      @include m450 {
        background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 74% center no-repeat;
        height: 105%;
        background-size: cover;
      }
      @include m450and825landscape {
        background: url("https://storage.googleapis.com/mcwilliamsphoto/Summer_Colorado_Hiking_Sunset_Optimized.jpg") 80% 80% no-repeat;
        height: 110%;
        background-size: cover;
      }
    }
  
    #profileDiv {
      position: absolute;
      z-index: 30;
      display: block;
      width: 100%;
      height: 100%;
      padding: 15vh 0;

      #resumePictureContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        margin: auto;
        height: 253px;
        width: 175px;
        /* border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(.125em);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25); */
      
        position: absolute;
        margin-right: 325px;
        right: 50%;
        margin-top: calc((292px - 254px) / 2);
        transform: translate(50%);
        
        @include m1100 {
          width: 157.5px;
          margin-right: 280px;
          margin-top: calc((260px - 225.5px) / 2 + 10px);
        }
        @include m888 {
          width: 131px;
          margin-right: 233px;
          margin-top: calc((260px - 225.5px) / 2 + 10px);
        }
        @include m825portrait {
          display: none;
        }
        @include m450and825landscape {
          display: none;
        }

        & > #profileLogoImage {
          height: 75px;
          width: 75px;
          background: url("https://storage.googleapis.com/mcwilliamsphoto/mcwilliams_photo_logo_square.svg");
          background-size: cover;

          @include m1100 {
            height: 66px;
            width: 66px;
          }
        }
      }
      
      #profilePictureNameEmailResumeContainer {
        display: flex;
        flex-direction: row;
        margin: 0 8vw;
      
        #profilePictureContainer {
          display: flex;
          justify-content: center;




          
          display: flex;
          align-items: center;
          margin: auto;
          height: 292px;
          width: 292px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(.125em);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        
          position: absolute;
          left: 50%;
          margin: 0;
          transform: translate(-50%);
        
          @include m1100 {
            height: 263px;
            width: 263px;
            margin-top: 10px;
          }
          @include m888 {
            height: 219px;
            width: 219px;
            margin-top: 10px;
          }
          @include m825portrait {
            left: 33%;
            height: 219px;
            width: 219px;
            margin-top: 10px;
          }
          @include m555portrait {
            left: 30%;
            height: 193px;
            width: 193px;
            margin-top: 10px;
          }
          @include m450 {
            height: 175px;
            width: 175px;
            margin-top: 10px;
          }
          @include m400portrait {
            height: 161px;
            width: 161px;
            margin-top: 10px;
          }
          @include m350portrait {
            left: 27.5%;
          }
          @include m450and825landscape {
            left: 47%;
            height: 193px;
            width: 193px;
            margin-top: -10px;
          }
          @include m450and650landscape {
            height: 175px;
            width: 175px;
          }
      
          #profilePicture {
            display: block;
            margin: auto;
            height: 280px;
            width: 280px;
            border-radius: 50%;
            background: url("https://storage.googleapis.com/mcwilliamsphoto/Kieran_McWilliams_2021_Square_Transparent_Optimized_More.png") center center no-repeat;
            background-size: cover;
        
            @include m1100 {
              height: 252px;
              width: 252px;
            }
            @include m888 {
              height: 210px;
              width: 210px;
            }
            @include m825portrait {
              height: 210px;
              width: 210px;
            }
            @include m555portrait {
              height: 185px;
              width: 185px;
            }
            @include m450 {
              height: 168px;
              width: 168px;
            }
            @include m400portrait {
              height: 154px;
              width: 154px;
            }
            @include m450and825landscape {
              height: 185px;
              width: 185px;
            }
            @include m450and650landscape {
              height: 168px;
              width: 168px;
            }
          }
        }
      
        #nameEmailResumeContainer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: auto;
          margin-left: 3vw;
          padding-top: 3vh;
          text-align: left;
        
          position: absolute;
          margin-left: 325px;
          left: 50%;
          height: 292px;
          padding: 0;
          transform: translate(-50%);
        
          @include m1100 {
            height: 263px;
            margin-left: 280px;
            margin-top: 10px;
          }
          @include m888 {
            height: 219px;
            margin-left: 233px;
            margin-top: 10px;
          }
          @include m825portrait {
            left: 33%;
            height: 219px;
            margin-left: 233px;
            margin-top: 20px;
          }
          @include m555portrait {
            left: 30%;
            height: 193px;
            margin-left: 215px;
            margin-top: 20px;
          }
          @include m450 {
            height: 175px;
            margin-left: 180px;
            margin-top: 20px;
          }
          @include m400portrait {
            height: 161px;
            margin-left: 160px;
            margin-top: 20px;
          }
          @include m350portrait {
            left: 26%;
          }
          @include m450and825landscape {
            left: 47%;
            height: 193px;
            margin-left: 215px;
            margin-top: -10px;
          }
          @include m450and650landscape {
            height: 175px;
            margin-left: 182px;
          }
      
          #nameHeader {
            color: var(--main-color-light);
            margin-top: 0.15em;
            margin-bottom: 0.3em;
            font-size: 3em;
        
            @include m1100 {
              font-size: 2.7em;
            }
            @include m888 {
              font-size: 2.25em;
            }
            @include m825portrait {
              font-size: 2.25em;
            }
            @include m555portrait {
              font-size: 2em;
            }
            @include m450 {
              font-size: 1.8em;
            }
            @include m400portrait {
              font-size: 1.65em;
            }
            @include m350portrait {
              font-size: 1.5em;
            }
            @include m450and825landscape {
              font-size: 2em;
            }
            @include m450and650landscape {
              font-size: 1.8em;
            }
          }
      
          #email {
            color: var(--main-color-light);
            margin-left: 0.175em;
            font-size: 1em;
            text-decoration: none;
            margin-bottom: 1vh;
          
            &:hover {
              text-decoration: underline;
            }
        
            @include m1100 {
              font-size: 0.9em;
            }
            @include m888 {
              font-size: 0.8em;
            }
            @include m825portrait {
              font-size: 0.8em;
            }
            @include m450 {
              font-size: 0.8em;
            }
            @include m400portrait {
              font-size: 0.75em;
            }
            @include m350portrait {
              font-size: 0.7em;
            }
            @include m450and825landscape {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}